body{
  margin: 0;
  padding: 0;
  background-color: #C1CEDA;
}

.contenedor{
  margin: 0;
  padding: 0;
}

#pasto{
  background-color: #6C8C7D;
  width: 900px;
  height: 60px;
  position: relative;
  top: 400px;
  left: 130px;
}

#techo{
	border-bottom: 100px solid #B8A4B0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0; /* alto */
	width: 200px; /* ancho */
  position: relative;
  left: 600px;
  bottom: -80px;
}

#cuerpo{
  width: 300px; /* ancho */
	height: 180px; /* alto */
	background: #BFB6B8;
  position: relative;
  left: 600px;
  bottom: -80px;
}

#puerta{
  width: 80px;
	height: 130px;
	background: #4B2D42;
  position: relative;
  left: 630px;
  bottom: 50px;
}

#ventana{
    width: 70px;
  	height: 70px;
  	background: #D9D8D7;
    position: relative;
    left: 770px;
    top: -165px;
}

#chimenea{
  width: 30px;
	height: 50px;
	background: #BFB6B8;
  position: relative;
  left: 800px;
  bottom: 380px;
}

#humo1{
  width: 15px;
	height: 15px;
	background: #ADADB0;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  position: relative;
  left: 855px;
  bottom: 472px;
}

#humo2{
  width: 15px;
	height: 15px;
	background: #A1A1A3;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  position: relative;
  left: 840px;
  bottom: 473px;
}

#humo3{
  width: 15px;
	height: 15px;
	background: #878789;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  position: relative;
  left: 820px;
  bottom: 480px;
}
