body{
  margin: 0;
  padding: 0;
  background-color: #C1CEDA;
}

.contenedor{
  margin: 0;
  padding: 0;
}

#pasto{
  background-color: #6C8C7D;
  width: 900px;
  height: 60px;
  position: relative;
  top: 400px;
  left: 130px;
}

#techo{
	border-bottom: 100px solid #B8A4B0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0; /* alto */
	width: 200px; /* ancho */
  position: relative;
  left: 600px;
  bottom: -80px;
}

#cuerpo{
  width: 300px; /* ancho */
	height: 180px; /* alto */
	background: #BFB6B8;
  position: relative;
  left: 600px;
  bottom: -80px;
}

#puerta{
  width: 80px;
	height: 130px;
	background: #4B2D42;
  position: relative;
  left: 630px;
  bottom: 50px;
}

#ventana{
    width: 70px;
  	height: 70px;
  	background: #D9D8D7;
    position: relative;
    left: 770px;
    top: -165px;
}

#chimenea{
  width: 30px;
	height: 50px;
	background: #BFB6B8;
  position: relative;
  left: 800px;
  bottom: 380px;
}

#humo1{
  width: 15px;
	height: 15px;
	background: #ADADB0;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  position: relative;
  left: 855px;
  bottom: 472px;
}

#humo2{
  width: 15px;
	height: 15px;
	background: #A1A1A3;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  position: relative;
  left: 840px;
  bottom: 473px;
}

#humo3{
  width: 15px;
	height: 15px;
	background: #878789;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  position: relative;
  left: 820px;
  bottom: 480px;
}

#sol{
  width: 100px;
	height: 100px;
	background: #FEFDD8;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  position: relative;
  left: 200px;
  bottom: 580px;
}

#corazon{
  position: relative;
  left: 565px;
  bottom: 420px;
  width: 100px;
  height: 250px;
  float: left;
}

#corazon:before,
#corazon:after{
    position: absolute;
    content: "";
    left: 95px;
    top: 2px;
    width: 20px;
    height: 30px;
    background: #8B4B59;
    -moz-border-radius: 20px 20px 0 0;
    border-radius: 20px 20px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 50%;
       -moz-transform-origin: 0 50%;
        -ms-transform-origin: 0 50%;
         -o-transform-origin: 0 50%;
            transform-origin: 0 50%;
}
#corazon:after{
    left: 99.5px;
    top: -5px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 50% 50%;
       -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
         -o-transform-origin: 50% 50%;
            transform-origin :50% 50%;
}

/* Opcionales */

#tronco {
  width: 30px;
  height: 100px;
  background: #795E55;
  position: relative;
  left: 350px;
  bottom: 400px;
}

#arbol{
  position: relative;
  left: 320px;
  bottom: 570px;
}

#arbol{
    background: green;
    width: 95px;
    height: 95px;
    position: relative;
    text-align: center;
    -webkit-transform: rotate(20deg);
       -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
         -o-transform: rotate(20deg);
}

#arbol:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 95px;
    width: 95px;
    background: green;
    -webkit-transform: rotate(135deg);
       -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
         -o-transform: rotate(135deg);
}

#manzana{
  width: 12px;
	height: 12px;
	background: #BD0303;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  position: relative;
  left: 375px;
  bottom: 640px;
}

#manzana1{
  width: 12px;
	height: 12px;
	background: #BD0303;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  position: relative;
  left: 325px;
  bottom: 620px;
}
